.services {
  &__container {
    padding: 20rem 0 10rem;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__section {
    margin-bottom: 10rem;

    &-img {
      width: 100%;
      height: 15rem;
      object-fit: cover;
    }

    &-text {
      padding-top: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;

      li {
        position: relative;
        cursor: pointer;

        &:before {
          display: block;
          content: "";
          position: absolute;
          width: 3rem;
          height: 1px;
          background: rgba(0,0,0,0.3);
          left: -4rem;
          top: 50%;
        }

        &:hover:before {
          width: 4rem;
          left: -5rem;
        }

        &:hover {
          .services__section-hint {
            opacity: 1;
          }
        }

        .services__section-hint {
          opacity: 0;
          position: absolute;
          width: 25rem;
          height: auto;
          z-index: 1;
          padding: 2rem;
          border-radius: 3px 0 3px 3px;
          border: 1px solid rgba(0,0,0,0.3);
          background-color: white;
          left: -30rem;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.1s linear;
        }
      }
    }
  }
}