{% extends "src/templates/base/base.njk" %}
{% set headerdark = true %}
{% set active = "projects" %}

{% block content %}
    <main>
        <article>
            <section class="projects" aria-label="projects">
                <div class="container">
                    <div class="projects__container">
                        <h2>Projects one...</h2>
                        <div class="projects__list">
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                        </div>
                        <h2>Projects two...</h2>
                        <div class="projects__list">
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                        </div>
                        <h2>Projects three...</h2>
                        <div class="projects__list">
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                            <div><img src="/static/img/services/2d.jpeg" alt=""></div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}