{% extends "src/templates/base/base.njk" %}
{% set headerdark = true %}
{% set active = "projects" %}

{% block content %}
    <main>
        <article>
            <section class="projects" aria-label="projects">
                <div class="container">
                    <div class="projects__container">
                        <h2>Projects...</h2>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}