@font-face {
  font-family: 'CeraPro';
  src: url('../../static/fonts/CeraPRO-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro-Bold';
  src: url('../../static/fonts/CeraPRO-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}