{% extends "src/templates/base/base.njk" %}
{% set headerdark = true %}
{% set active = "services" %}

{% block content %}
    <main>
        <article>
            <section class="services" aria-label="services">
                <div class="services__container">
                    <div class="container">
                        <h2 id="int" class="services__title">Интерьеры</h2>
                        <div class="services__section">
                            <img class="services__section-img" src="/static/img/services/int.jpeg" alt="жилые интерьеры">
                            <div class="services__section-text">
                                <h3>Жилые</h3>
                                <ul>
                                    <li>
                                        Концепт-проект интерьера
                                        <div class="services__section-hint">
                                            Концепт-проект интерьера Концепт-проект интерьера Концепт-проект интерьера Концепт-проект интерьера
                                        </div>
                                    </li>
                                    <li>
                                        Комплектация интерьера
                                        <div class="services__section-hint">
                                            Комплектация интерьераКом плектация интерьераКо плектация интерьера Комплектация интерьера Комплектация интерьера
                                        </div>
                                    </li>
                                    <li>
                                        Хоум-стэйджинг
                                        <div class="services__section-hint">
                                            Хоум-стэйджинг Хоум-стэйджинг Хоум-стэйджинг Хоум-стэйджинг Хоум-стэйджинг Хоум-стэйджинг
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="services__section">
                            <img class="services__section-img" src="/static/img/services/pub.jpeg" alt="жилые интерьеры">
                            <div class="services__section-text">
                                <h3>Общественные</h3>
                                <ul>
                                    <li>
                                        Хорека
                                        <div class="services__section-hint">
                                            Хорека Хорека Хорека Хорека Хорека
                                        </div>
                                    </li>
                                    <li>
                                        Ретейл
                                        <div class="services__section-hint">
                                            Ретейл Ретейл Ретейл Ретейл Ретейл Ретейл Ретейл
                                        </div>
                                    </li>
                                    <li>
                                        Офисы
                                        <div class="services__section-hint">
                                            Офисы Офисы Офисы Офисы Офисы
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h2 id="arh" class="services__title">Архитектурное планирование</h2>
                        <div class="services__section">
                            <img class="services__section-img" src="/static/img/services/arh.jpeg" alt="жилые интерьеры">
                            <div class="services__section-text">
                                <h3></h3>
                                <ul>
                                    <li>
                                        Архитектурно-строительные решения
                                        <div class="services__section-hint">
                                            Архитектурно-строительные решения Архитектурно-строительные решения Архитектурно-строительные решения Архитектурно-строительные решения
                                        </div>
                                    </li>
                                    <li>
                                        Реконструкция и реновация
                                        <div class="services__section-hint">
                                            Реконструкция и реновация Реконструкция и реновация Реконструкция и реновация
                                        </div>
                                    </li>
                                    <li>
                                        Фасадные решения и экстерьер
                                        <div class="services__section-hint">
                                            Фасадные решения и экстерьер Фасадные решения и экстерьер Фасадные решения и экстерьер Фасадные решения и экстерьер
                                        </div>
                                    </li>
                                    <li>
                                        Ландшафтный дизайн
                                        <div class="services__section-hint">
                                            Ландшафтный дизайн Ландшафтный дизайн Ландшафтный дизайн Ландшафтный дизайн Ландшафтный дизайн
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <h2 id="vis" class="services__title">Презентационная визуализация</h2>
                        <div class="services__section">
                            <img class="services__section-img" src="/static/img/services/3d.jpeg" alt="жилые интерьеры">
                            <div class="services__section-text">
                                <h3></h3>
                                <ul>
                                    <li>
                                        3D-визуализация
                                        <div class="services__section-hint">
                                            3D-визуализация 3D-визуализация 3D-визуализация 3D-визуализация
                                        </div>
                                    </li>
                                    <li>
                                        2D- планы
                                        <div class="services__section-hint">
                                            2D- планы 2D- планы 2D- планы 2D- планы
                                        </div>
                                    </li>
                                    <li>
                                        Визуализация экстерьера
                                        <div class="services__section-hint">
                                            Визуализация экстерьера Визуализация экстерьера Визуализация экстерьера Визуализация экстерьера
                                        </div>
                                    </li>
                                    <li>
                                        Каталог недвижимости
                                        <div class="services__section-hint">
                                            Каталог недвижимости Каталог недвижимости Каталог недвижимости Каталог недвижимости
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}