{% extends "src/templates/base/base.njk" %}
{% set headerdark = true %}
{% set active = "services" %}

{% block content %}
    <main>
        <article>
            <section class="services" aria-label="services">
                <div class="services__container">
                    <div class="container">
                        <h2 id="int" class="services__title">Интерьеры</h2>
                        <div class="services__section">
                            <img class="services__section-img" src="/static/img/services/int.jpeg" alt="жилые интерьеры">
                            <div class="services__section-text">
                                <h3>Жилые</h3>
                                <ul>
                                    <li>Концепт-проект интерьера</li>
                                    <li>Комплектация интерьера</li>
                                    <li>Хоум-стэйджинг</li>
                                </ul>
                            </div>
                        </div>
                        <div class="services__section">
                            <img class="services__section-img" src="/static/img/services/pub.jpeg" alt="жилые интерьеры">
                            <div class="services__section-text">
                                <h3>Общественные</h3>
                                <ul>
                                    <li>Хорека</li>
                                    <li>Ретейл</li>
                                    <li>Офисы</li>
                                </ul>
                            </div>
                        </div>
                        <h2 id="arh" class="services__title">Архитектурное планирование</h2>
                        <div class="services__section">
                            <img class="services__section-img" src="/static/img/services/arh.jpeg" alt="жилые интерьеры">
                            <div class="services__section-text">
                                <h3></h3>
                                <ul>
                                    <li>Архитектурно-строительные решения</li>
                                    <li>Реконструкция и реновация</li>
                                    <li>Фасадные решения и экстерьер</li>
                                    <li>Ландшафтный дизайн</li>
                                </ul>
                            </div>
                        </div>

                        <h2 id="vis" class="services__title">Презентационная визуализация</h2>
                        <div class="services__section">
                            <img class="services__section-img" src="/static/img/services/3d.jpeg" alt="жилые интерьеры">
                            <div class="services__section-text">
                                <h3></h3>
                                <ul>
                                    <li>3D-визуализация</li>
                                    <li>2D- планы</li>
                                    <li>Визуализация экстерьера</li>
                                    <li>Каталог недвижимости</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}