{% extends "src/templates/base/base.njk" %}
{% set headerdark = true %}
{% set active = "services" %}

{% block content %}
    <main>
        <article>
            <section aria-label="services">
                <div class="container">
                    <h2>Жилые интерьеры</h2>
                    <div>Концепт-проект интерьера </div>
                    <div>Комплектация интерьера </div>
                    <div>Хоум-стэйджинг </div>

                    <h2>Общественные</h2>
                    <div>Хорека </div>
                    <div>Ретейл</div>
                    <div>Офисы</div>

                    <h2>Архитектурное планирование</h2>
                    <div>Архитектурно-строительные решения</div>
                    <div>Реконструкция и реновация  </div>
                    <div>Фасадные решения и экстерьер </div>
                    <div>Ландшафтный дизайн </div>

                    <h2>Презентационная визуализация</h2>
                    <div>3D-визуализация </div>
                    <div>2D- планы </div>
                    <div>Визуализация экстерьера  </div>
                    <div>Каталог недвижимости </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}